<% include('includes/head'); %>
  <section class="container">
    <h1>
      <!-- O primeiro irá exibir exatamente o que vc digitar (=), o segundo deixa colocar código (-) -->
      <!-- <%= titulo %> <br/> 
      <%- titulo %> -->
      <!-- <% if(typeof titulo !== 'undefined') {%>
        <%= titulo %>
      <% } else { %>
        O título não foi enviado
      <% } %> -->

      <!-- <% numeros.forEach(numero => { %>
        <%= numero %>
      <% }) %> -->

      <%- umaVariavelLocal %>
    </h1>
    Cliente:
    <form action="/" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <input type="text" name="nome">
      <input type="submit">
    </form>
  </section>

  <% include('includes/footer'); %>

    <script src="./assets/js/bundle.js"></script>